<section class="container">
    <div class="box">
        <template>
            <section>
                <div @keyup.enter="submitLogin">
                    <b-field label="Email">
                        <b-input v-model="loginRequest.email" type="email"></b-input>
                    </b-field>

                    <b-field label="Password">
                        <b-input type="password" v-model="loginRequest.password" ></b-input>
                    </b-field>
                </div>
            </section>
        </template>
        <span>
            <div class="button is-primary" @click="submitLogin">Log In</div>
        </span>
    </div>
</section>
