<section class="container">
    <div class="box">
        <div class="title">{{package.name}}</div>
        <div class="subtitle">{{package.shortDescription}}</div>
        <div>{{package.longDescription}}</div>
    </div>

    <section class="box" v-show="stats.length">
        <div class="subtitle">
            Package Usage Statistics
        </div>
        <template >
            <b-table
                :data="stats"
                :striped="true"
                :visible="stats.length">

                <template slot-scope="props">

                    <b-table-column field="version" label="Version">
                        {{ props.row.version }}
                    </b-table-column>

                    <b-table-column field="platform" label="Platform">
                        {{ props.row.platform }}
                    </b-table-column>

                    <b-table-column field="exit" label="Exit Code">
                        {{ (props.row.exit).toString()}}
                    </b-table-column>

                    <b-table-column field="count" label="Count">
                        {{ props.row.count }}
                    </b-table-column>

                    <b-table-column v-show="props.row.averageTimeMs" field="averageTimeMs" label="Average Runtime (milliseconds)">
                        {{ props.row.averageTimeMs}}
                    </b-table-column>

                </template>

            </b-table>
        </template>
    </section>

    <section class="box" v-show="stats.length">
        <div class="subtitle">
            Package Releases
        </div>
        <template >
            <b-table
                :data="releases"
                :striped="true"
                :visible="releases.length"
            >

                <template slot-scope="props">

                    <b-table-column field="version" label="Version">
                        {{ props.row.version }}
                    </b-table-column>

                    <b-table-column field="platform" label="Platform">
                        {{ props.row.platform }}
                    </b-table-column>

                    <b-table-column field="createdAt" label="Created At" centered>
                        {{ new Date(props.row.createdAt).toLocaleDateString() }}
                    </b-table-column>

                </template>

            </b-table>
        </template>
    </section>



</section>
