sudo: false
language: generic
os:
- linux
- osx
cache:
  directories:
  - "$HOME/.stack"
  timeout: 300
addons:
  artifacts:
    s3_region: us-west-2
    on:
      tags: true
    debug: true
    paths:
    - "$HOME/.local/bin/*.tar.gz"
before_install:
- mkdir -p ~/.local/bin
- export PATH=$HOME/.local/bin:$PATH
- travis_retry curl -sSL https://get.haskellstack.org/ | sh
install:
- stack --no-terminal --install-ghc install -j 1 aeson
- stack --no-terminal --install-ghc test --only-dependencies
script: |
  [[ $TRAVIS_OS_NAME = "osx" ]] && export platform="mac" || export platform="linux"
  export version=$(grep "^version" scarf.cabal | sed 's/ //g'  | cut -d ':' -f 2) &&
  echo "building binary version $version" &&
  stack $ARGS --no-terminal --install-ghc install &&
  strip $HOME/.local/bin/scarf &&
  cd $HOME/.local/bin/ &&
  tar -czvf scarf-${version}-${platform}.tar.gz scarf
notifications:
  email:
    recipients:
    - avipress@gmail.com
    on_success: change
    on_failure: always
deploy:
  provider: s3
  access_key_id: AKIAQO7VT5NO4GROGGNJ
  secret_access_key:
    secure: oM33y74n7Beb3PbNinKqWpmyFzltLLpFQ3n3nxINc3MeNQMSRMwT54i89VW+7DB6szx4GMcWujZ4qwhGEtaClDEmCnRJDqvflm1vF6p+4meXcqle/1Vgvb41DYTIjSBggMOe8OcQJGikDeWb1Fv53xgWcem1g3tUjvQt+EoedAykC09Pkby8dbK5aZBC5/Eh/fY68JedqqCps7Xcq7PEM1/9OUl0RilxdonB8BDYxMbSg+lQE4qZrPhIqsF9P0fqlCdRQ1SITLKyF9q/rG8oF3D6QWweIEqDbJQXEjn6uiPRbLCDTvq3FikaLTCF53qdMuANMJzxa4LyrrRA2oR+4IAuiyRjKuotyJL6TPv/ja6Bi90/IoVKgbcT/4/RtpEz1POERmUsqOsf9BExEqIS/nr1kiVVgEaP6E810ieMTmS34eJd9tkuDkS+eh2nQ+nq8FF8DkVgmlY02mEyWt07poKIJ0ldxDsrQ32TGehjhI+Lb9BHHAD5MCkLcMrHKXiLRepvlKd8LfTov5IBYpZvhv4M0z0T76Ok/AxIvjYGvH1lreqxez2MR0nK1Kkhpj3n3s3HoW435329L3ZHq20utj5s9NTPVwHBLHO/st/ZcmhOfPqLVc72wSX3qlEvXEF6tTyHNoYN4NHDez8+gKqfv2LuDAoxGGRTM0vN+DaElkI=
  bucket: scarf.sh
  acl: public_read
  # on:
    # repo: aviaviavi/scarf
    # all_branches: true
